<p>
  Click the update buttons,
  notice that
  <code>
    teardown
  </code>
  is
  <strong>
    not called
  </strong>
  before install,
  when the modifier is yielded as part of a hash
  with a tracked property
</p>

<MyComponent as |api|>
  <div {{api.myModifier1}}>
    {{api.myValue}}
  </div>
</MyComponent>

<MyComponent as |api myModifier2|>
  <div {{myModifier2}}>
    {{api.myValue}}
  </div>
</MyComponent>